canvas.left
{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
}
canvas.right
{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
}
canvas.top
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
canvas.bottom
{
    position: fixed;
    top: 50%;
    right: 0;
    width: 100%;
    height: 50%;
}

body, html
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

div.helpContainer
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999;
    display: none;
}
div.help
{
    background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
    width: 70%;
    padding: 5%;
}

div.landscapeMenu
{
    background-color: white;
    z-index: 1000;
    width: 80px;
    height: 90%;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-45px);
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 3px solid black;
}

div.landscapeMenu ul
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

div.landscapeMenu ul li
{
    list-style: none;
    /* margin: 0; */
    margin-bottom: 10%;
    margin-top: 5%;
    padding: 0;
    width: 100%;
    float: left;
}

div.portraitMenu
{
    background-color: white;
    z-index: 1000;
    width: 90%;
    height: 80px;
    position: fixed;
    top: 47%;
    left: 10%;
    transform: translateX(-45px);
    padding: 0;
    margin: 0;
    border-radius: 50px;
    border: 3px solid black;
}

div.portraitMenu ul
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div.portraitMenu ul li
{
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    width: 12%;
    float: left;
}

div.landscapeMenu li.range
{
    height: 100px;
    margin-left: 10px;
}

img.controls
{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.controlsTitle
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.landscapeMenu input.range
{
    rotate: 90deg;
    transform: translate(50px, 50px);
    margin-left: 49%;
}

div.portraitMenu input.range
{
    /* rotate: 90deg; */
    transform: translate(0px, 15px);
    /* margin-left: 49%; */
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
/* 
canvas
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.menu
{
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  transition: 0.125s border linear;
  transition: 0.125s opacity linear;
  border: none;
}

table.words
{
    font-size: 16pt;
    text-align: center;
    width: 59%;
    float: left;
}
img.topLeftButton
{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
table.sliders
{
    width: 40%;
    text-align: right;
    float: left;
    margin-top: 10px;
}

input.button
{
    width: 80%;
    padding: 5px;
    text-align: center;
}

table.words td
{
    font-size: 16pt;
}

td.cor
{
    color: blue;
}

td.cf
{
    color: green;
}

td
{
    /* border: 1px solid black; */
}

td.range
{
    /* width: ; */
}

input.range
{
    width: 100%;
}

img
{
    width: 50%;
}
img.equation
{
    height: 80%;
}
img.small
{
    width: 100%;
}
img.medium
{
    width: 35px;
    float: right;
}
td.small
{
    width: 50px;
}
td.big
{
    width: 400px;
}
td.cor, td.cf
{
    width: 200px;
    text-align: left;
}